<div class='flex flex-wrap justify-center my-8'>
  <div class="w-full">
  <a
    class="flex justify-center w-32 mx-auto mt-4 mb-8"
    href="/"
  >
    <%= image_tag('logo.png') %>
  </a>
  </div>
  <div class="w-full max-w-lg border shadow-md">
    <div class='w-full max-w-lg px-16 pt-4 pb-8 bg-white'>
      <h1 class='mt-8 mb-8 text-xl font-medium text-vl-blue'>Recuperar contraseña</h1>
      <p class='mb-4 text-sm text-vl-gray'>Por favor ingresa tu correo electrónico. Recibirás un email con las instrucciones para crear una nueva contraseña.</p>

      <%= form_with(url: reset_password_path(@model_name)) do |f| %>
        <div class='mb-4'>
          <%= f.text_field :email, autocomplete: 'email', placeholder: 'Correo electrónico', class: 'appearance-none rounded-lg w-full py-2 px-3 text-gray-700 text-sm leading-tight focus:outline-none focus:shadow-outline border hover:border-primary'%>
        </div>
        <% if flash.alert %>
        <div
          class='relative my-3 text-sm text-red-700'
          role="alert"
        >
          <ul>
          <li><%= flash.alert %></li>
          </ul>
        </div>
        <% end %>
        <div>
          <div class='flex justify-around mb-4'>
            <%= f.submit 'RECUPERAR', class: 'bg-white border-2 border-vl-blue hover:bg-vl-blue hover:text-white rounded-lg text-vl-blue py-2 px-4 mt-5 rounded focus:outline-none focus:shadow-outline tracking-widest text-sm' %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
